<%- include("../partials/header") %>

<form action="/quotes/<%= quote._id %>?_method=PUT" method="POST">
    <label>Update content:</label>
    <textarea name="content" placeholder="<%= quote.content %>" cols="20" rows="5"></textarea>
    <label for="">Add Author</label>
    <select name="author" id="">
    <% authors.forEach((author) => { %>
        <option value="<%= author._id %>"><%= author.name %></option>
    <% }) %>
    </select>
    <button type="submit">Update</button>
</form>
<p>Created: <%= quote.createdAt.toLocaleString("en-US", {timeZone: "UTC"}) %></p>
<p>Updated: <%= quote.updatedAt.toLocaleString("en-US", {timeZone: "UTC"}) %></p>

<form action="/quotes/<%= quote._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Quote</button>
</form>

<%- include("../partials/footer") %>
