<%- include("../partials/header") %>

<% quotes.forEach((quote) => { %>
    <% if(quotes) { %>
        <section>
            <h4>"<%= quote.content %>"</h4>
            <a href="/quotes/<%= quote._id %>/edit">Edit</a>
        </section>
    <% } else { %>
        <% authors.forEach((author) => { %>
            <section>
                <h4>"<%= quote.content %>"</h4>
                <a href="/quotes/<%= quote._id %>/edit">Edit</a>
            </section>
            <% }) %>
    <% } %>
<% }) %>   

<h3><%= quotes[1].author%></h3>


<%- include("../partials/footer") %>

