<%- include('../partials/header') %>

<% quotes.forEach((quote) => { %>
    <% if(quote) { %>
        <section style="border: 2px solid black">
            <h4>"<%= quote.content %>"</h4>
            <a href="/quotes/<%= quote._id %>/edit">Edit</a>
        </section>
    <% } else { %>
        <section style="border: 2px solid black">
            <h4>"<%= quote.content %>"</h4>
            <a href="/quotes/<%= quote._id %>/edit">Edit</a>
        </section>
    <% }}) %>
    
    <%- include('../partials/footer') %>