<%- include("../partials/header") %>
 
<% quotes.forEach((quote) => { %>
    <h3><%= quote %></h3>
    <% if(quotes) { %>
        <section>
            <h4>"<%= quote.content %>"</h4>
            <a href="/quotes/<%= quote._id %>/edit">Edit</a>
        </section>
    <% } else { %>
        <% authors.forEach((author) => { %>
            <section>
                <h4>"<%= quote.content %>"</h4>
                <a href="/quotes/<%= quote._id %>/edit">Edit</a>
            </section>
            <% }) %>
    <% } %>
<% }) %>  

<%- include("../partials/footer") %>