<%- include("../partials/header") %>

<% quotes.forEach((quote) => { %>
    <% if(quote.author) { %>
        <h2><%= quote._id %></h2>
        <h2><%= quote.author.name %></h2>
        <h2><%= quote.content %></h2>
        <a href="/quotes/<%= quote._id %>/edit">Edit</a>
    <% } else { %>
        <h2><%= quote.content %></h2>
        <a href="/quotes/<%= quote._id %>/edit">Edit</a>
    <% } %>
<% }) %>

<%- include("../partials/footer") %>

