<%- include('../partials/header') %>
<div style='margin-top: 15vh;' class='container'>
    <div>
        <a class='dropdown-item' href='/quotes/new'>
            <button style='margin-right: 10px;'class='btn btn-primary' type='submit'>Add a Quote</button>
        </a>
    </div><br><br>
    <div class='row'>
        <% quotes.forEach((quote) => { %>
            <h2>USER: <%= user._id %></h2>
            <h2>QUOTE: <%= quotes[0].userId  %></h2>
            <% if(quote.author) { %>
                <div style="align-content: center;" class="col-sm-6">
                    <a href="/quotes/<%= quote._id %>/edit">
                        <div class="card border-light" >
                            <div style="padding: 50px;" class="card-body">
                                <h2 class="card-title">"<%= quote.content %>"</h2>
                                <p class="card-text">Author: <%= quote.author.name %></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } else { %>
                <div style="align-content: center;" class="col-sm-6">
                    <a href="/quotes/<%= quote._id %>/edit">
                        <div class="card border-light" >
                            <div style="padding: 50px;" class="card-body">
                                <h2 class="card-title">"<%= quote.content %>"</h2>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>
