<%- include("../partials/header") %>

<form action="/authors/<%= author._id %>?_method=PUT" method="POST">
    <label>Name: </label>
    <input placeholder="<%= author.name %>" name="name" type="text">
    <label>Birthdate: <%= author.birthDate?.toLocaleString("en-US", { year:"numeric", month:"short", day:"numeric" }) %></label>
    <input name="birthDate" type="date">
    <label>Bio: </label>
    <textarea placeholder="<%= author.bio %>" name="bio" cols="15" rows="5"></textarea>
    <label>URL: </label>
    <input placeholder="<%= author.url %>" type="text" name="url" placeholder="<%= author.url %>">
    <label>Add Authored Quote</label>
    <select name="authoredQuotes">
        <option selected disabled value="none">Add Authored Quote</option>
        <% quotes.forEach((quote) => { %>
            <option value="<%= quote._id %>"><%= quote.content %></option>
        <% }) %>
    </select>
    <button type="submit">Update</button>
</form>
<form action="/authors/<%= author._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Author</button>
</form>

<%- include("../partials/footer") %>
