<%- include("../partials/header") %>

<% authors.forEach((author) => { %>
    <% if(author.name !== "Unknown") { %>
        <a style="cursor: pointer;" href="/authors/<%= author.id %>/edit">
            <section style="background-color:antiquewhite;">
                <h2><%= author.name %></h2>
                <p><%= author.bio %></p>
                <a href="<%= author.url %>"><%= author.url %></a>
                <% if(author.authoredQuotes) { %>
                    <p>Number of Associated Works: <%= author.authoredQuotes.length %></p>
                <% } %>
            </section>
        </a>
    <% } %>
<% }) %>

<%- include("../partials/footer") %>