<%- include("../partials/header") %>

<% authors.forEach((author) => { %>
    <% if(author.name !== "Unknown") { %>
        <a style="cursor: pointer;" href="/authors/<%= author.id %>/edit">
            <section>
                <h2><%= author.name %></h2>
                <p><%= author.bio %></p>
                <a href="<%= author.url %>"><%= author.url %></a>
                <% if(author.authoredQuotes) { %>
                    <p>Number of Associated Works: <%= author.authoredQuotes.length %></p>
                <% } %>
            </section>
        </a>
    <% } %>
<% }) %>
<ul class="list-group">
    <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
        <h2><%= authors[0].name %></h2>
        <p><%= authors[0].bio %></p>
      <span class="badge bg-primary rounded-pill"><%= authors[0].authoredQuotes.length %></span>
    </li>
    <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
      Dapibus ac facilisis in
      <span class="badge bg-primary rounded-pill">2</span>
    </li>
    <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
      Morbi leo risus
      <span class="badge bg-primary rounded-pill">1</span>
    </li><li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
      Cras justo odio
      <span class="badge bg-primary rounded-pill">5</span>
    </li>
    <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
      Dapibus ac facilisis in
      <span class="badge bg-primary rounded-pill">4</span>
    </li>
    <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
      Morbi leo risus
      <span class="badge bg-primary rounded-pill">9</span>
    </li>
    <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
      Morbi leo risus
      <span class="badge bg-primary rounded-pill">8</span>
    </li>
    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
      Morbi leo risus
      <span class="badge bg-primary rounded-pill">0</span>
    </li>
  </ul>
<%- include("../partials/footer") %>